<div class="signup-container">
  <div class="signup-form">
    <form #forgotpwForm="ngForm" (ngSubmit)="onSubmit(forgotpwForm)">
      <h2>Forgot Password</h2>

      <div class="form-group">

        <label for="useremaill">Enter your registered email id</label>
        <input id="useremaill" type="email" placeholder="Enter email id" name="useremaill" [(ngModel)]="useremail"
          required #useremaill="ngModel">
        <div class="text-danger" *ngIf="useremaill.invalid && useremaill.touched">Enter a valid email</div>
      </div>

      <button type="submit" [disabled]="forgotpwForm.invalid">Submit</button>

      <p class="alink">
        Do you want to <a (click)="commonService.redirectTo('/signin')">Sign in</a> ?
      </p>

    </form>
  </div>
  <div class="signup-image">
    <img src="assets/images/signupdogimage.jpg" alt="Welcome">
    <p class="text-justify"><b>Welcome to our community! </b><br> Petsave is actively helping to search for your
      lost
      pets in your
      local area. Report your lost/found pets here. Join us today and let's bring your pet home together!</p>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>