.map-container {
  height: 200px;
  width: 50%;
}
#map {
  width: 50%;
  height: 200px; /* Default height */
  border-radius: 5px;
}

/* Adjust height for larger screens */
@media (min-width: 768px) {
  #map {
    height: 200px;
  }
}

@media (min-width: 1024px) {
  #map {
    height: 300px;
  }
}