<div class="signup-container">
  <div class="signup-form">
    <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
      <h2>Reset Your Password</h2>

      <div class="form-group">

        <label for="password">Password</label>
        <input id="password" type="password"  placeholder="Enter a password" name="password" [(ngModel)]="resetdata.password" required #password="ngModel"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=!]).{8,}$" required>

        <div class="text-danger" *ngIf="password.invalid && password.touched">

          <p *ngIf="password.errors?.['required']">Password is required.</p>
          <p *ngIf="password.errors?.['pattern']">Password must be at least 8 characters long and include uppercase,
            lowercase, a number, and a special character.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword"  placeholder="Enter a confirm password" name="confirmPassword" type="password" [(ngModel)]="resetdata.confirmPassword" required
          minlength="6" class="form-control">
        <div class="text-danger" *ngIf="resetdata.confirmPassword && resetdata.password !== resetdata.confirmPassword">
          Passwords do not match.
        </div>
      </div>
      <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
      <p class="alink">
        Do you have an account? <a  (click)="commonService.redirectTo('/signin')">Sign In</a>
      </p>
    </form>
  </div>
  <div class="signup-image">
    <img src="assets/images/signupdogimage.jpg" alt="Welcome">
    <p class="text-justify"><b>Welcome to our community </b><br> Welcome to Petsave's community of pet lovers! Our
      platform is here to help you find your lost furry friend quickly and easily. By reporting your lost or found pet,
      you can instantly send a free alert to our network of local members who are actively looking out for your pet's
      safe return. Join us today and let's bring your pet home together!</p>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
