
<footer class=" indfooter">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-lg-4">
        <div class="frtcnd">
          <img class="ndmb-23 img-fluid" src="assets/images/petlogo.jpg" alt="App Logo">
          <p>Petsave is actively helping to search for your lost pets in your local area. Report your lost/found pets
            here and send a free alert instantly.</p>
        </div>

      </div>
      <div class="col-lg-2">
        <div class="ftmenulist">
          <h5>Quick Links</h5>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Referral</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Contact Us</a></li>

          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="ftmenulist">
          <h5>Company</h5>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>

          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="ftmenulist">
          <h5>Resources</h5>
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Startup guide</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="ftmenulist ">
          <h5>Follow Us</h5>
          <div class="d-flex align-items-center flex-wrap frticnmenu">
            <div class="ndmb-15 ndmr-8">
              <a href="#">
                <img class="img-social " src="assets/images/facebook.png" alt="">
              </a>
            </div>
            <div class="ndmb-15 ndmr-8">
              <a href="#">
                <img class="img-social" src="assets/images/instagram.png" alt="">
              </a>
            </div>
            <div class="ndmb-15 ndmr-8">
              <a href="#">
                <img class="img-social " src="assets/images/twitter.png" alt="">
              </a>
            </div>
            <div class="ndmb-15 ndmr-8">
              <a href="#">
                <img class="img-social" src="assets/images/youtube.png" alt="">
              </a>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="endtextoff">
  <div class="container text-center">
    <h2>© 2025 All rights reserved.</h2>
  </div>
</div>